<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v6.js"></script>


<!-- Create a div where the graph will take place -->
<h1>Questionnaire Heatmap</h1>
<div id="my_tooltip"></div>
<div id="my_dataviz"></div>


<script>
  //support methods
  Array.prototype.max = function() {
  return Math.max.apply(null, this);
}
Array.prototype.min = function() {
  return Math.min.apply(null, this);
}

  // set the dimensions and margins of the graph
  const margin = {top: 30, right: 30, bottom: 30, left: 60},
    width = 450 - margin.left - margin.right,
    height = 450 - margin.top - margin.bottom;
  
  // append the svg object to the body of the page
  const svg = d3.select("#my_dataviz")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", `translate(${margin.left},${margin.top})`);
  

  
  //Read the data
  //d3.csv("./heatmap_data.csv", function(data) {
  //d3.csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/heatmap_data.csv").then( function(data) {
  
function render(data){

  var unique_names = data.map(d => d.Name).filter((value, index, array) => array.indexOf(value) === index)
  var unique_vars = data.map(d => d.Question).filter((value, index, array) => array.indexOf(value) === index)
  var values = data.map(d => d.value)
  // Labels of row and columns
  const myGroups = unique_names    //["A", "B", "C", "D", "E", "F", "G", "H", "I", "J"]
  const myVars = unique_vars      //["v1", "v2", "v3", "v4", "v5", "v6", "v7", "v8", "v9", "v10"]
  
  // Build X scales and axis:
  const x = d3.scaleBand()
    .range([ 0, width ])
    .domain(myVars)
    //.domain(myGroups)
    .padding(0.01);
  svg.append("g")
    //.attr("transform", `translate(0, ${height})`)
    .attr("transform", `translate(0, 0)`)
    .call(d3.axisTop(x))
  
  // Build X scales and axis:
  const y = d3.scaleBand()
    .range([ height, 0 ])
    .domain(myGroups)
    //.domain(myVars)
    .padding(0.01);
  svg.append("g")
    .call(d3.axisLeft(y));
  
  // Build color scale
  const myColor = d3.scaleLinear()
    .range(["white", "#69b3a2"])
    .domain([values.min(),values.max()])
    //console.log(values)
    //console.log(values.min()); console.log(values.max())
    //.domain([1,100])





    // create a tooltip
    const tooltip = d3.select("#my_tooltip")
      .append("div")
      .style("opacity", 0)
      .attr("class", "tooltip")
      .style("background-color", "white")
      .style("border", "solid")
      .style("border-width", "2px")
      .style("border-radius", "5px")
      .style("padding", "5px")
  
    // Three function that change the tooltip when user hover / move / leave a cell
    const mouseover = function(event,d) {
      tooltip.style("opacity", 1)
    }
    const mousemove = function(event,d) {
      tooltip
      .html("Current cell has value:  "+d.value+"<br>Comment:  " + d.text)
        .style("left", (event.x)/2 + "px")
        .style("top", (event.y)/2 + "px")
    }
    const mouseleave = function(d) {
      tooltip.style("opacity", 0)
    }
  
    // add the squares
    svg.selectAll()
      .data(data, function(d) {return d.Question+':'+d.Name;})
      .enter()
      .append("rect")
        .attr("x", function(d) { return x(d.Question) })
        .attr("y", function(d) { return y(d.Name) })
        .attr("width", x.bandwidth() )
        .attr("height", y.bandwidth() )
        .style("fill", function(d) { return myColor(d.value)} )
      .on("mouseover", mouseover)
      .on("mousemove", mousemove)
      .on("mouseleave", mouseleave)
  //})
}






var data = [
  {
    "idx": 0,
    "Name": "record1",
    "Question": "Q1",
    "text": "On the way to Malaysia...no internet access to Twit",
    "value": 0.6311491221781432
  },
  {
    "idx": 1,
    "Name": "record2",
    "Question": "Q1",
    "text": "juss came backk from Berkeleyy ; omg its madd fun out there havent been out there in a minute . wha...",
    "value": 0.7785837321123934
  },
  {
    "idx": 2,
    "Name": "record3",
    "Question": "Q1",
    "text": "Went to sleep and there is a power cut in Noida Power back up not working too",
    "value": 0.923420261728683
  },
  {
    "idx": 3,
    "Name": "record4",
    "Question": "Q1",
    "text": "I`m going home now. Have you seen my new twitter design? Quite....heavenly isn`****?",
    "value": 0.9156242662603525
  },
  {
    "idx": 4,
    "Name": "record5",
    "Question": "Q1",
    "text": "If it is any consolation I got my BMI tested hahaha it says I am obesed well so much for being unh...",
    "value": 0.3643096003738707
  },
  {
    "idx": 5,
    "Name": "record6",
    "Question": "Q1",
    "text": "Ahhh, I slept through the game. I`m gonna try my best to watch tomorrow though. I hope we play Arm...",
    "value": 0.7454885944825155
  },
  {
    "idx": 6,
    "Name": "record7",
    "Question": "Q1",
    "text": "Born and raised in NYC and living in Texas for the past 10 years! I still miss NY",
    "value": 0.870046553003913
  },
  {
    "idx": 7,
    "Name": "record8",
    "Question": "Q1",
    "text": "just in case you wonder, we are really busy today and this coming with with adding tons of new blogs...",
    "value": 0.463118253550833
  },
  {
    "idx": 8,
    "Name": "record9",
    "Question": "Q1",
    "text": "i`m soooooo sleeeeepy!!! the last day o` school was today....sniffle....",
    "value": 0.08617731005184437
  },
  {
    "idx": 9,
    "Name": "record10",
    "Question": "Q1",
    "text": "A little happy for the wine jeje ok it`sm my free time so who cares, jaja i love this day",
    "value": 0.002873543207685736
  },
  {
    "idx": 10,
    "Name": "record1",
    "Question": "Q2",
    "text": "i want to go to music tonight but i lost my voice.",
    "value": 0.6283549941862455
  },
  {
    "idx": 11,
    "Name": "record2",
    "Question": "Q2",
    "text": "Uh oh, I am sunburned",
    "value": 0.8162868715227297
  },
  {
    "idx": 12,
    "Name": "record3",
    "Question": "Q2",
    "text": "i`ve been sick for the past few days and thus, my hair looks wierd. if i didnt have a hat on it wo...",
    "value": 0.04899337633489953
  },
  {
    "idx": 13,
    "Name": "record4",
    "Question": "Q2",
    "text": "is back home now gonna miss every one",
    "value": 0.6636364498656993
  },
  {
    "idx": 14,
    "Name": "record5",
    "Question": "Q2",
    "text": "Hes just not that into you",
    "value": 0.36745901253115676
  },
  {
    "idx": 15,
    "Name": "record6",
    "Question": "Q2",
    "text": "Playing Ghost Online is really interesting. The new updates are Kirin pet and Metamorph for third jo...",
    "value": 0.4640607387707323
  },
  {
    "idx": 16,
    "Name": "record7",
    "Question": "Q2",
    "text": "is cleaning the house for her family who is comming later today..",
    "value": 0.04594120181832351
  },
  {
    "idx": 17,
    "Name": "record8",
    "Question": "Q2",
    "text": "gotta restart my computer .. I thought Win7 was supposed to put an end to the constant rebootiness",
    "value": 0.3991062763553621
  },
  {
    "idx": 18,
    "Name": "record9",
    "Question": "Q2",
    "text": "SEe waT I Mean bOuT FoLL0w fRiiDaYs... It`S cALLed LoSe f0LloWeRs FridAy... smH",
    "value": 0.14665832937390266
  },
  {
    "idx": 19,
    "Name": "record10",
    "Question": "Q2",
    "text": "the free fillin` app on my ipod is fun, im addicted",
    "value": 0.927982188716395
  },
  {
    "idx": 20,
    "Name": "record1",
    "Question": "Q3",
    "text": "I`d have responded, if I were going",
    "value": 0.160569719061202
  },
  {
    "idx": 21,
    "Name": "record2",
    "Question": "Q3",
    "text": "Sooo SAD I will miss you here in San Diego!!!",
    "value": 0.6141282634116261
  },
  {
    "idx": 22,
    "Name": "record3",
    "Question": "Q3",
    "text": "my boss is bullying me...",
    "value": 0.6871893450431048
  },
  {
    "idx": 23,
    "Name": "record4",
    "Question": "Q3",
    "text": "what interview! leave me alone",
    "value": 0.40967582594531804
  },
  {
    "idx": 24,
    "Name": "record5",
    "Question": "Q3",
    "text": "Sons of ****, why couldn`t they put them on the releases we already bought",
    "value": 0.21007929378154433
  },
  {
    "idx": 25,
    "Name": "record6",
    "Question": "Q3",
    "text": "2am feedings for the baby are fun when he is all smiles and coos",
    "value": 0.5509456601149162
  },
  {
    "idx": 26,
    "Name": "record7",
    "Question": "Q3",
    "text": "Journey!? Wow... u just became cooler. hehe... (is that possible!?)",
    "value": 0.004281059219476524
  },
  {
    "idx": 27,
    "Name": "record8",
    "Question": "Q3",
    "text": "as much as i love to be hopeful, i reckon the chances are minimal =P i`m never gonna get my cake an...",
    "value": 0.24719954477384753
  },
  {
    "idx": 28,
    "Name": "record9",
    "Question": "Q3",
    "text": "I really really like the song Love Story by Taylor Swift",
    "value": 0.7589984981304377
  },
  {
    "idx": 29,
    "Name": "record10",
    "Question": "Q3",
    "text": "My Sharpie is running DANGERously low on ink",
    "value": 0.9413823965789156
  }
]





  var dataOriginal = [
  {
    "Name": "A",
    "Question": "v1",
    "value": 30,
    "text": "On the way to Malaysia...no internet access to Twit"
  },
  {
    "Name": "A",
    "Question": "v2",
    "value": 95,
    "text": "juss came backk from Berkeleyy ; omg its madd fun out there havent been out there in a minute . wha..."
  },
  {
    "Name": "A",
    "Question": "v3",
    "value": 22,
    "text": "Went to sleep and there is a power cut in Noida Power back up not working too"
  },
  {
    "Name": "A",
    "Question": "v4",
    "value": 14,
    "text": "I`m going home now. Have you seen my new twitter design? Quite....heavenly isn`****?"
  },
  {
    "Name": "A",
    "Question": "v5",
    "value": 59,
    "text": "If it is any consolation I got my BMI tested hahaha it says I am obesed well so much for being unh..."
  },
  {
    "Name": "A",
    "Question": "v6",
    "value": 52,
    "text": "Ahhh, I slept through the game. I`m gonna try my best to watch tomorrow though. I hope we play Arm..."
  },
  {
    "Name": "A",
    "Question": "v7",
    "value": 88,
    "text": "Born and raised in NYC and living in Texas for the past 10 years! I still miss NY"
  },
  {
    "Name": "A",
    "Question": "v8",
    "value": 20,
    "text": "just in case you wonder, we are really busy today and this coming with with adding tons of new blogs..."
  },
  {
    "Name": "A",
    "Question": "v9",
    "value": 99,
    "text": "i`m soooooo sleeeeepy!!! the last day o` school was today....sniffle...."
  },
  {
    "Name": "A",
    "Question": "v10",
    "value": 66,
    "text": "A little happy for the wine jeje ok it`sm my free time so who cares, jaja i love this day"
  },
  {
    "Name": "B",
    "Question": "v1",
    "value": 37,
    "text": "i want to go to music tonight but i lost my voice."
  },
  {
    "Name": "B",
    "Question": "v2",
    "value": 50,
    "text": "Uh oh, I am sunburned"
  },
  {
    "Name": "B",
    "Question": "v3",
    "value": 81,
    "text": "i`ve been sick for the past few days and thus, my hair looks wierd. if i didnt have a hat on it wo..."
  },
  {
    "Name": "B",
    "Question": "v4",
    "value": 79,
    "text": "is back home now gonna miss every one"
  },
  {
    "Name": "B",
    "Question": "v5",
    "value": 84,
    "text": "Hes just not that into you"
  },
  {
    "Name": "B",
    "Question": "v6",
    "value": 91,
    "text": "Playing Ghost Online is really interesting. The new updates are Kirin pet and Metamorph for third jo..."
  },
  {
    "Name": "B",
    "Question": "v7",
    "value": 82,
    "text": "is cleaning the house for her family who is comming later today.."
  },
  {
    "Name": "B",
    "Question": "v8",
    "value": 89,
    "text": "gotta restart my computer .. I thought Win7 was supposed to put an end to the constant rebootiness"
  },
  {
    "Name": "B",
    "Question": "v9",
    "value": 6,
    "text": "SEe waT I Mean bOuT FoLL0w fRiiDaYs... It`S cALLed LoSe f0LloWeRs FridAy... smH"
  },
  {
    "Name": "B",
    "Question": "v10",
    "value": 67,
    "text": "the free fillin` app on my ipod is fun, im addicted"
  },
  {
    "Name": "C",
    "Question": "v1",
    "value": 96,
    "text": "I`d have responded, if I were going"
  },
  {
    "Name": "C",
    "Question": "v2",
    "value": 13,
    "text": "Sooo SAD I will miss you here in San Diego!!!"
  },
  {
    "Name": "C",
    "Question": "v3",
    "value": 98,
    "text": "my boss is bullying me..."
  },
  {
    "Name": "C",
    "Question": "v4",
    "value": 10,
    "text": "what interview! leave me alone"
  },
  {
    "Name": "C",
    "Question": "v5",
    "value": 86,
    "text": "Sons of ****, why couldn`t they put them on the releases we already bought"
  },
  {
    "Name": "C",
    "Question": "v6",
    "value": 23,
    "text": "2am feedings for the baby are fun when he is all smiles and coos"
  },
  {
    "Name": "C",
    "Question": "v7",
    "value": 74,
    "text": "Journey!? Wow... u just became cooler. hehe... (is that possible!?)"
  },
  {
    "Name": "C",
    "Question": "v8",
    "value": 47,
    "text": "as much as i love to be hopeful, i reckon the chances are minimal =P i`m never gonna get my cake an..."
  },
  {
    "Name": "C",
    "Question": "v9",
    "value": 73,
    "text": "I really really like the song Love Story by Taylor Swift"
  },
  {
    "Name": "C",
    "Question": "v10",
    "value": 40,
    "text": "My Sharpie is running DANGERously low on ink"
  },
  {
    "Name": "D",
    "Question": "v1",
    "value": 75,
    "text": "On the way to Malaysia...no internet access to Twit"
  },
  {
    "Name": "D",
    "Question": "v2",
    "value": 18,
    "text": "juss came backk from Berkeleyy ; omg its madd fun out there havent been out there in a minute . wha..."
  },
  {
    "Name": "D",
    "Question": "v3",
    "value": 92,
    "text": "Went to sleep and there is a power cut in Noida Power back up not working too"
  },
  {
    "Name": "D",
    "Question": "v4",
    "value": 43,
    "text": "I`m going home now. Have you seen my new twitter design? Quite....heavenly isn`****?"
  },
  {
    "Name": "D",
    "Question": "v5",
    "value": 16,
    "text": "If it is any consolation I got my BMI tested hahaha it says I am obesed well so much for being unh..."
  },
  {
    "Name": "D",
    "Question": "v6",
    "value": 27,
    "text": "Ahhh, I slept through the game. I`m gonna try my best to watch tomorrow though. I hope we play Arm..."
  },
  {
    "Name": "D",
    "Question": "v7",
    "value": 76,
    "text": "Born and raised in NYC and living in Texas for the past 10 years! I still miss NY"
  },
  {
    "Name": "D",
    "Question": "v8",
    "value": 24,
    "text": "just in case you wonder, we are really busy today and this coming with with adding tons of new blogs..."
  },
  {
    "Name": "D",
    "Question": "v9",
    "value": 1,
    "text": "i`m soooooo sleeeeepy!!! the last day o` school was today....sniffle...."
  },
  {
    "Name": "D",
    "Question": "v10",
    "value": 87,
    "text": "A little happy for the wine jeje ok it`sm my free time so who cares, jaja i love this day"
  },
  {
    "Name": "E",
    "Question": "v1",
    "value": 44,
    "text": "i want to go to music tonight but i lost my voice."
  },
  {
    "Name": "E",
    "Question": "v2",
    "value": 29,
    "text": "Uh oh, I am sunburned"
  },
  {
    "Name": "E",
    "Question": "v3",
    "value": 58,
    "text": "i`ve been sick for the past few days and thus, my hair looks wierd. if i didnt have a hat on it wo..."
  },
  {
    "Name": "E",
    "Question": "v4",
    "value": 55,
    "text": "is back home now gonna miss every one"
  },
  {
    "Name": "E",
    "Question": "v5",
    "value": 65,
    "text": "Hes just not that into you"
  },
  {
    "Name": "E",
    "Question": "v6",
    "value": 56,
    "text": "Playing Ghost Online is really interesting. The new updates are Kirin pet and Metamorph for third jo..."
  },
  {
    "Name": "E",
    "Question": "v7",
    "value": 9,
    "text": "is cleaning the house for her family who is comming later today.."
  },
  {
    "Name": "E",
    "Question": "v8",
    "value": 78,
    "text": "gotta restart my computer .. I thought Win7 was supposed to put an end to the constant rebootiness"
  },
  {
    "Name": "E",
    "Question": "v9",
    "value": 49,
    "text": "SEe waT I Mean bOuT FoLL0w fRiiDaYs... It`S cALLed LoSe f0LloWeRs FridAy... smH"
  },
  {
    "Name": "E",
    "Question": "v10",
    "value": 36,
    "text": "the free fillin` app on my ipod is fun, im addicted"
  },
  {
    "Name": "F",
    "Question": "v1",
    "value": 35,
    "text": "I`d have responded, if I were going"
  },
  {
    "Name": "F",
    "Question": "v2",
    "value": 80,
    "text": "Sooo SAD I will miss you here in San Diego!!!"
  },
  {
    "Name": "F",
    "Question": "v3",
    "value": 8,
    "text": "my boss is bullying me..."
  },
  {
    "Name": "F",
    "Question": "v4",
    "value": 46,
    "text": "what interview! leave me alone"
  },
  {
    "Name": "F",
    "Question": "v5",
    "value": 48,
    "text": "Sons of ****, why couldn`t they put them on the releases we already bought"
  },
  {
    "Name": "F",
    "Question": "v6",
    "value": 100,
    "text": "2am feedings for the baby are fun when he is all smiles and coos"
  },
  {
    "Name": "F",
    "Question": "v7",
    "value": 17,
    "text": "Journey!? Wow... u just became cooler. hehe... (is that possible!?)"
  },
  {
    "Name": "F",
    "Question": "v8",
    "value": 41,
    "text": "as much as i love to be hopeful, i reckon the chances are minimal =P i`m never gonna get my cake an..."
  },
  {
    "Name": "F",
    "Question": "v9",
    "value": 33,
    "text": "I really really like the song Love Story by Taylor Swift"
  },
  {
    "Name": "F",
    "Question": "v10",
    "value": 11,
    "text": "My Sharpie is running DANGERously low on ink"
  },
  {
    "Name": "G",
    "Question": "v1",
    "value": 77,
    "text": "On the way to Malaysia...no internet access to Twit"
  },
  {
    "Name": "G",
    "Question": "v2",
    "value": 62,
    "text": "juss came backk from Berkeleyy ; omg its madd fun out there havent been out there in a minute . wha..."
  },
  {
    "Name": "G",
    "Question": "v3",
    "value": 94,
    "text": "Went to sleep and there is a power cut in Noida Power back up not working too"
  },
  {
    "Name": "G",
    "Question": "v4",
    "value": 15,
    "text": "I`m going home now. Have you seen my new twitter design? Quite....heavenly isn`****?"
  },
  {
    "Name": "G",
    "Question": "v5",
    "value": 69,
    "text": "If it is any consolation I got my BMI tested hahaha it says I am obesed well so much for being unh..."
  },
  {
    "Name": "G",
    "Question": "v6",
    "value": 63,
    "text": "Ahhh, I slept through the game. I`m gonna try my best to watch tomorrow though. I hope we play Arm..."
  },
  {
    "Name": "G",
    "Question": "v7",
    "value": 61,
    "text": "Born and raised in NYC and living in Texas for the past 10 years! I still miss NY"
  },
  {
    "Name": "G",
    "Question": "v8",
    "value": 54,
    "text": "just in case you wonder, we are really busy today and this coming with with adding tons of new blogs..."
  },
  {
    "Name": "G",
    "Question": "v9",
    "value": 38,
    "text": "i`m soooooo sleeeeepy!!! the last day o` school was today....sniffle...."
  },
  {
    "Name": "G",
    "Question": "v10",
    "value": 93,
    "text": "A little happy for the wine jeje ok it`sm my free time so who cares, jaja i love this day"
  },
  {
    "Name": "H",
    "Question": "v1",
    "value": 39,
    "text": "i want to go to music tonight but i lost my voice."
  },
  {
    "Name": "H",
    "Question": "v2",
    "value": 26,
    "text": "Uh oh, I am sunburned"
  },
  {
    "Name": "H",
    "Question": "v3",
    "value": 90,
    "text": "i`ve been sick for the past few days and thus, my hair looks wierd. if i didnt have a hat on it wo..."
  },
  {
    "Name": "H",
    "Question": "v4",
    "value": 83,
    "text": "is back home now gonna miss every one"
  },
  {
    "Name": "H",
    "Question": "v5",
    "value": 31,
    "text": "Hes just not that into you"
  },
  {
    "Name": "H",
    "Question": "v6",
    "value": 2,
    "text": "Playing Ghost Online is really interesting. The new updates are Kirin pet and Metamorph for third jo..."
  },
  {
    "Name": "H",
    "Question": "v7",
    "value": 51,
    "text": "is cleaning the house for her family who is comming later today.."
  },
  {
    "Name": "H",
    "Question": "v8",
    "value": 28,
    "text": "gotta restart my computer .. I thought Win7 was supposed to put an end to the constant rebootiness"
  },
  {
    "Name": "H",
    "Question": "v9",
    "value": 42,
    "text": "SEe waT I Mean bOuT FoLL0w fRiiDaYs... It`S cALLed LoSe f0LloWeRs FridAy... smH"
  },
  {
    "Name": "H",
    "Question": "v10",
    "value": 7,
    "text": "the free fillin` app on my ipod is fun, im addicted"
  },
  {
    "Name": "I",
    "Question": "v1",
    "value": 5,
    "text": "I`d have responded, if I were going"
  },
  {
    "Name": "I",
    "Question": "v2",
    "value": 60,
    "text": "Sooo SAD I will miss you here in San Diego!!!"
  },
  {
    "Name": "I",
    "Question": "v3",
    "value": 21,
    "text": "my boss is bullying me..."
  },
  {
    "Name": "I",
    "Question": "v4",
    "value": 25,
    "text": "what interview! leave me alone"
  },
  {
    "Name": "I",
    "Question": "v5",
    "value": 3,
    "text": "Sons of ****, why couldn`t they put them on the releases we already bought"
  },
  {
    "Name": "I",
    "Question": "v6",
    "value": 70,
    "text": "2am feedings for the baby are fun when he is all smiles and coos"
  },
  {
    "Name": "I",
    "Question": "v7",
    "value": 34,
    "text": "Journey!? Wow... u just became cooler. hehe... (is that possible!?)"
  },
  {
    "Name": "I",
    "Question": "v8",
    "value": 68,
    "text": "as much as i love to be hopeful, i reckon the chances are minimal =P i`m never gonna get my cake an..."
  },
  {
    "Name": "I",
    "Question": "v9",
    "value": 57,
    "text": "I really really like the song Love Story by Taylor Swift"
  },
  {
    "Name": "I",
    "Question": "v10",
    "value": 32,
    "text": "My Sharpie is running DANGERously low on ink"
  },
  {
    "Name": "J",
    "Question": "v1",
    "value": 19,
    "text": "On the way to Malaysia...no internet access to Twit"
  },
  {
    "Name": "J",
    "Question": "v2",
    "value": 85,
    "text": "juss came backk from Berkeleyy ; omg its madd fun out there havent been out there in a minute . wha..."
  },
  {
    "Name": "J",
    "Question": "v3",
    "value": 53,
    "text": "Went to sleep and there is a power cut in Noida Power back up not working too"
  },
  {
    "Name": "J",
    "Question": "v4",
    "value": 45,
    "text": "I`m going home now. Have you seen my new twitter design? Quite....heavenly isn`****?"
  },
  {
    "Name": "J",
    "Question": "v5",
    "value": 71,
    "text": "If it is any consolation I got my BMI tested hahaha it says I am obesed well so much for being unh..."
  },
  {
    "Name": "J",
    "Question": "v6",
    "value": 64,
    "text": "Ahhh, I slept through the game. I`m gonna try my best to watch tomorrow though. I hope we play Arm..."
  },
  {
    "Name": "J",
    "Question": "v7",
    "value": 4,
    "text": "Born and raised in NYC and living in Texas for the past 10 years! I still miss NY"
  },
  {
    "Name": "J",
    "Question": "v8",
    "value": 12,
    "text": "just in case you wonder, we are really busy today and this coming with with adding tons of new blogs..."
  },
  {
    "Name": "J",
    "Question": "v9",
    "value": 97,
    "text": "i`m soooooo sleeeeepy!!! the last day o` school was today....sniffle...."
  },
  {
    "Name": "J",
    "Question": "v10",
    "value": 72,
    "text": "A little happy for the wine jeje ok it`sm my free time so who cares, jaja i love this day"
  }
]


render(data)
  </script>