<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v6.js"></script>


<!-- Create a div where the graph will take place -->
<h1>Questionnaire Heatmap</h1>
<div id="my_tooltip"></div>
<div id="my_dataviz"></div>


<script>
  //support methods
  Array.prototype.max = function() {
  return Math.max.apply(null, this);
}
Array.prototype.min = function() {
  return Math.min.apply(null, this);
}

  // set the dimensions and margins of the graph
  const margin = {top: 30, right: 30, bottom: 30, left: 60},
    width = 450 - margin.left - margin.right,
    height = 450 - margin.top - margin.bottom;
  
  // append the svg object to the body of the page
  const svg = d3.select("#my_dataviz")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", `translate(${margin.left},${margin.top})`);
  

  

function render(data){

  // Basic data
  var unique_names = data.map(d => d.Name).filter((value, index, array) => array.indexOf(value) === index)
  var unique_ques = data.map(d => d.Question).filter((value, index, array) => array.indexOf(value) === index)
  var values = data.map(d => d.value)

  // Labels of row and columns
  const myGroups = unique_names    
  const myVars = unique_ques      
  
  // Build X scales and axis:
  const x = d3.scaleBand()
    .range([ 0, width ])
    .domain(myVars)
    .padding(0.01);
  svg.append("g")
    //.attr("transform", `translate(0, ${height})`)   //moved to top
    .attr("transform", `translate(0, 0)`)
    .call(d3.axisTop(x))
  
  // Build X scales and axis:
  const y = d3.scaleBand()
    .range([ height, 0 ])
    .domain(myGroups)
    .padding(0.01);
  svg.append("g")
    .call(d3.axisLeft(y));
  
  // Build color scale
  const myColor = d3.scaleLinear()
    .range(['green','yellow','red'])   //["#d3e8e3", "#69b3a2"])
    .domain([values.min(),(values.max()-values.min())/2,values.max()])     //[values.min(),values.max()])





    // create a tooltip
    const tooltip = d3.select("#my_tooltip")
      .append("div")
      .style("opacity", 0)
      .attr("class", "tooltip")
      .style("background-color", "white")
      .style("border", "solid")
      .style("border-width", "2px")
      .style("border-radius", "5px")
      .style("padding", "5px")
  
    // Three function that change the tooltip when user hover / move / leave a cell
    const mouseover = function(event,d) {
      tooltip.style("opacity", 1)
    }
    const mousemove = function(event,d) {
      tooltip
      .html("Current cell has value:  "+d.value+"<br>Comment:  " + d.text)
        .style("left", (event.x)/2 + "px")
        .style("top", (event.y)/2 + "px")
    }
    const mouseleave = function(d) {
      tooltip.style("opacity", 0)
    }
  
    // add the squares
    svg.selectAll()
      .data(data, function(d) {return d.Question+':'+d.Name;})
      .enter()
      .append("rect")
        .attr("x", function(d) { return x(d.Question) })
        .attr("y", function(d) { return y(d.Name) })
        .attr("width", x.bandwidth() )
        .attr("height", y.bandwidth() )
        .style("fill", function(d) { return myColor(d.value)} )
      .on("mouseover", mouseover)
      .on("mousemove", mousemove)
      .on("mouseleave", mouseleave)
}






var data = {{data|tojson}}



render(data)
  </script>